<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8" />
     
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
  	<title>Rithle API</title>
  </head>
  <body>
    <h1><a href="https://github.com/TheClashFruit/Rithle/releases">Download Rithle on GitHub</a></h1>
    
   	<p>There is probably nothing useful for you here, but here are some stats about Rithle:</p>
    
    <ul>
      <li>Total Users: <%= totalUsers %></li>
      <li>Active Users (Last 90 Days): <%= activeUsers %></li>
    </ul>

    <p>This is only collected because we give badges in Rithle if you use it, or you donate, and they are deleted after a year of inactivity.</p>

    <p>You can donate on <a href="https://ko-fi.com/TheClashFruit">https://ko-fi.com/TheClashFruit</a>, include your Modrinth username in the dontation message if you want to recive the badge for it.</p>

    <p>These badges are not Modrinth badges and the project is in no way affilated with Modrinth.</p>
  </body>
</html>